body{
  margin: 0 0;
}
.header-bg-blue{
  background-color:#2773b3;
  width:100%;
  height: 130px;
  font-size: 10px;
  vertical-align: bottom;
  }
  .header-bg-blue h1{
  color: white;
  font-style: helvetica;
  margin: 0;
  transform: translateY(20px);
  text-align: center;

  }
  .header-bg-blue h2{
    color: white;
    font-style: helvetica;
    margin-top: 65px;
    margin-left: 35px;
  }

  .shoppingcart{
    width:34px;
    height:30px;
    float: right;
    margin-right: 20px;
  }
  .user{
    width:34px;
    height:30px;
    float: right;
    margin-right: 20px;
  }
  .searchbar{
    width:470px;
    height: 40px;
    float:right;
  }
  .searchbar input{
    color: grey;
    height:35px;
    width: 400px;
    font-size: 20px;
    font-family: helvetica;
    transform: translateY(-45px) translateX(-10px);
  }
  .searchbutton{
    background-color: yellow;
    width: 45px;
    height:45px;
    transform: translateY(-90px);
    float: right;
    margin-right: 20px;
  }
  .searchbutton img{
    padding: 8px;
  }
  .main-container{
    background-color:#E0E0E0;
    width: 100%;
    height: 400px;
    margin: 0;
  }
  .main-container p{
    font-size: 15px;
    margin:0;
    margin-left: 40px;
    transform: translateY(20px);
  }
  .sideimages{
    width:60px;
    height:300px;
    margin-left: 40px;
    float: left;
    margin-right: 20px;
    margin-top: 50px;

  }
  .sideimages img{
    width: 60px;
    height: 60px;
  }
  .iphone{
    width: 300px;
    height:300px;
    float: left;
    margin-top: 50px;
    margin-right: 60px;

  }
  .iphone img{
    width: 300px;
    height: 300px;
  }
  .info{
    width:300px;
    margin-top: 50px;
    float:left;

  }
  .info h1{
    color: #2773b3;
  }
  .Title h1{
    font-weight: lighter;
  }

  .List{
    width: 100%;
    height: 180px;
    }
    .bullets ul{
      color: black;
      font-family: helvetica;
    }
  .pics{
    width:100%;
    height: 60px;

  }
  .pics img{
    height:100%;
    width:60px;
  }
  .cart1{
    width: 220px;
    height:380px;
    float:right;
    margin-top: 50px;
    margin-right: 30px;
  }
  .button{
    height:45px;
    background-color: yellow;
    text-align: center;
  }
  .button h1{
    color: black;
  }
  .button h1{
    font-size: 20px;
    font-weight: lighter;
    font-style: helvetica;
    transform: translateY(10px);
 }
  .price{
    height:30px;
  }
  .price h1{
    font-weight: lighter;
    font-size: 20px;
    float:left;
    margin:15px;
  }
  .price h2{
    font-weight: lighter;
    font-size: 20px;
    float:left;
    margin:15px;
    color: green;
  }
  .stock{
  height:30px;
  }
  .stock h1{
    font-weight: lighter;
    font-size: 20px;
    float:left;
    margin:15px;
  }
  .stock h2{
    font-weight: lighter;
    font-size: 20px;
    float:left;
    margin:15px;
    color: green;
  }
  .protection{
    height:94px;
  }
  .protection img{
    width:220px;
    height:94px;
  }
  .delivery{
    height:42px;
  }
  .delivery p{
    margin-top: 40px;
  }
  .More-Items{
    background-color: #E0E0E0;
    width: 100%;
    height: 200px;
  }
  .More-Items h1{
    margin: 0;
    font-weight: lighter;
    color: #2773b3;
  }
  .More-Items img {
    float: left;
    width: 150px;
    height: 130px;
    margin-right: 20px;
  }
  .Footer{
    width: 100%;
    height: 400px;
    background-color: #2773b3;
    margin: 0;

  }
  .bottom-right{
    width: 150px;
    height:60px;
  }
  .Footer h1{
    font-weight: lighter;
    color: white;
    margin-left: 20px;
  }
  .Footer p{
    color: white;
    margin: 0;
    margin-left: 20px
  }
  .copyright{
    margin-top: 150px;
   color: white;
  }
