body{
  margin: 0 0;
}
.header-bg-blue{
  background-color:#2773b3;
  width:100%;
  height: 130px;
  font-size: 10px;
  vertical-align: bottom;
  }


  .shoppingcart{
    width:34px;
    height:30px;
    float: right;
    margin-right: 20px;
  }
  .user{
    width:34px;
    height:30px;
    float: right;
    margin-right: 20px;
  }
  .main-container{
    background-color:#E0E0E0;
    width: 100%;
    height: 400px;
    margin: 0;
  }
  .main-container p{
    font-size: 15px;
    margin:0;
    margin-left: 40px;
    transform: translateY(20px);
  }
  .sideimages{
    width:60px;
    height:300px;
    margin-left: 40px;
    float: left;
    margin-right: 20px;
    margin-top: 50px;

  }
  .sideimages img{
    width: 60px;
    height: 60px;
  }
  .iphone{
    width: 300px;
    height:300px;
    float: left;
    margin-top: 50px;
    margin-right: 60px;

  }
  .iphone img{
    width: 300px;
    height: 300px;
  }
  .info{
    width:300px;
    margin-top: 50px;
    float:left;

  }
  .info h1{
    color: #2773b3;

  }
  .List{
width: 100%;
height: 180px;

  }
  .pics{
  width:100%;
  height: 60px;

  }
  .pics img{
    height:100%;
    width:60px;
  }
  .cart1{
    width: 220px;
    height:380px;
    float:right;
    margin-top: 50px;
    margin-right: 30px;
  }
  .button{
    height:45px;
    background-color: yellow;
    text-align: center;
  }
  .button h1{
    color: black;
  }
  .price{
    height:30px;
  }
  .stock{
  height:30px;
  }
  .protection{
    height:94px;

  }
  .delivery{
    height:42px;

  }
  .More-Items{
    background-color: #E0E0E0;
    width: 100%;
    height: 200px;
  }
  .More-Items h1{
    margin: 0;
  }
  .header-bg-blue h1{
  color: white;
  font-style: helvetica;
  margin: 0;
  transform: translateY(20px);
  text-align: center;

  }
  .header-bg-blue h2{
    color: white;
    font-style: helvetica;
    margin-top: 65px;
    margin-left: 35px;
  }
